.wrapproj {
  display: flex;
  height: 75%;
  width:100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-grid{
  width: 100%
}

.grid-item {
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  width:360px;
  height:360px;
}

.grid-item > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
} 

.grid-item img{
  width: auto;
  height: 100%;
}

.grid-item h1{
  padding: 10px 0px 0px 0px;
  margin: 0;
  font-size: 25px;
}

.grid-item h2 {
  padding: 5px 0px 0px 0px;
  margin: 0;
  font-size: 15px;
}

.grid-item p {
  padding: 10px 0;
  margin: 3%;
  font-size: 15px;
}

.overlay-bot {
  position: absolute;
  padding-right:20px;
  padding-left: 15px;
  background-color: #232323;
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: 100%;
  color: #fff;
  opacity: 0.8;
  bottom: -100%;
  transition: top 0.4s ease-out, bottom 0.4s ease-out;
} 


.grid-item h1,
.grid-item h2,
.grid-item h3
.grid-item p {
  transition: padding 0.4s ease-out 0.4s;
  font-weight: 300;
  color: #fff;
}

.grid-item:hover .overlay-bot {
  bottom: 0px;
  transition-delay: 0.2s;
}

.grid-item:hover h1{
  padding: 15px 0px 0px 0px;
  margin: 0;
  font-size: 25px;
}

.grid-item:hover h2 {
  padding: 5px 0px 0px 0px;
  margin: 0;
  font-size: 15px;
}

.grid-item:hover p {
  font-size: 14.5px;
  color:#FFFFFF;
}